
<h1>Movie Show Page</h1>
<h3>Title: <%= @movie.title%></h3>
<p>Creation year: <%= @movie.creation_year%></p>
<p>Genre: <%= @movie.genre%></p>


<h3>Actors:</h3>
<% @movie.actors_young_to_old.each do |actor| %>
  <p>Name:  <%= actor.name %></p>
<% end %>
<hr>
<p>Average actor age:<%= @movie.average_actor_age%> </p>

<h3>Add an actor:</h3>
<%= form_with url: "/movies/#{@movie.id}/actors", method: :post, local: true do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name, required: true%>
  <%= form.submit "Add actor" %>
  <%= form.hidden_field :id, value: @movie.id %>
  <% end %>
